
<!DOCTYPE html>
<html>
<body>
    <footer class="footer-01 md-skin-dark">
        <div class="footer-01__widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 ">

                    </div>
                    <div class="col-md-6 col-lg-3 ">

                    </div>
                    <div class="col-md-6 col-lg-3 ">
                    </div>
                    <div class="col-lg-3 ">
                    </div>
                </div>
            </div>
        </div>

        <!-- copyright-01 -->
        <div class="copyright-01 md-text-center">
            <div class="container">
                <p class="copyright-01__copy">2018 &copy; Copyright Awe7. All rights Reserved.</p>
                <p>Developed by: AnonymousDeveloper </p>
            </div>
        </div><!-- End / copyright-01 -->

    </footer>
    </body>
</html>