
<!DOCTYPE html>
<html>
<body>
    <header class="header header-fixheight header--fixed">
        <div class="container">
            <div class="header__inner">
                <div class="header-logo"><a href="/Home/Index#1"><img src="~/Content/img/logo.png" alt="" /></a></div>

                <!-- raising-nav -->
                <nav class="raising-nav">

                    <!-- raising-menu -->
                    <ul class="raising-menu">
                        <li class="current" id="liHome">
                           <a href="/Home/Index#1">Home</a>                       
                        </li>
                        <li id="liAbout">
                            <a href="/Home/Index#2">About</a>
                        </li>
                        <li id="liServices">
                            <a href="/Home/Index#3">Services</a>
                        </li>
                        <li id="liContactUs">
                            <a href="/Home/Index#4">contact us</a>
                        </li>                                               
                    </ul><!-- raising-menu -->
                    <div class="navbar-toggle"><i class="fa fa-bars"></i></div>
                </nav><!-- End / raising-nav -->

                <div class="btn-right">
                </div>
                <div class="searchbar">
                    <div class="searchbar__group">
                        <span class="searchbar__addon"><i class="fa fa-search"></i></span>
                        <input class="searchbar__input" type="text" name="search" value="" placeholder="Search" /><span class="searchbar__close"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>