@{
    ViewBag.Title = "Services MarblePlates";
}
<!DOCTYPE html>
<html>
<head>
    <title>J&S Marble</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/pe-icon/pe-icon.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/bootstrap/grid.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/swiper/swiper.css">
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,600|Playfair+Display:400i">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <!-- Vendors-->
    <script type="text/javascript" src="~/Content/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="~/Content/vendors/isotope-layout/isotope.pkgd.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/masonry-layout/masonry.pkgd.js"></script>
    <script type="text/javascript" src="~/Content/vendors/swiper/swiper.jquery.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery-one-page/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Content/vendors/menu/menu.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jquery.waypoints/jquery.waypoints.min.js"></script>
    <!-- App-->
    <script type="text/javascript" src="~/Scripts/js/main.js"></script>
    </head>
@Html.Partial("Header")
<body>
    <section class="md-section" id="ServicesFloors" style="background-color:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">

                    <!-- sec-title -->
                    <div class="sec-title sec-title__lg-title md-text-center">
                        <h2 class="sec-title__title">Gallery Sinks</h2><span class="sec-title__divider"></span>
                    </div><!-- End / sec-title -->

                </div>
            </div>
            <!-- gallery-wrap -->
            <div class="gallery-wrap gallery-album">
                <div class="grid-css grid-css--grid" data-col-lg="4" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
                    <div class="grid__inner" style="position: relative; height: 1170px;">
                        <div class="grid-sizer"></div>

                        <!-- grid-item -->
                        <div class="grid-item large" style="position: absolute; left: 0px; top: 0px;">
                            <div class="grid-item__inner">
                                <div class="grid-item__content-wrapper">

                                    <!-- gallery -->
                                    <div class="gallery gallery--grid">
                                        <div class="gallery__image bg-image" style="background-image: url(/Content/img/gallery/Sinks/1.jpg);">
                                            <img src="~/Content/img/gallery/Sinks/1.jpg" alt="How to Create and"><a class="gallery__overlay mfp-image" href="~/Content/img/gallery/Sinks/1.jpg" data-effect="mfp-zoom-in" title="Design a Perfect">
                                                <div class="md-tb">
                                                    <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div><!-- End / gallery -->

                                </div>
                            </div>
                        </div><!-- End / grid-item -->
                        <!-- grid-item -->
                        <div class="grid-item wide" style="position: absolute; left: 585px; top: 0px;">
                            <div class="grid-item__inner">
                                <div class="grid-item__content-wrapper">

                                    <!-- gallery -->
                                    <div class="gallery gallery--grid">
                                        <div class="gallery__image bg-image" style="background-image: url(/Content/img/gallery/Sinks/2.jpg);">
                                            <img src="~/Content/img/gallery/Sinks/2.jpg" alt="How to Master"><a class="gallery__overlay mfp-image" href="~/Content/img/gallery/Sinks/2.jpg" data-effect="mfp-zoom-in" title="Using Memes in Your">
                                                <div class="md-tb">
                                                    <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div><!-- End / gallery -->

                                </div>
                            </div>
                        </div><!-- End / grid-item -->
                    </div>
                </div>
            </div><!-- End / gallery-wrap -->

        </div>
    </section>

    @Html.Partial("Footer")
</body>
</html>
